/* html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  padding: 10px;
  max-width: 680px;
}
 */
